# Rust/Cargo
target/
**/*.rs.bk
Cargo.lock

# Output temporanei
*.log
*.tmp
logs/

# Coverage
coverage/
*.profdata

# IDE/editor
.idea/
.vscode/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# .env
.env

# Remote File System
server/mnt/
client/mnt/